@model SupportManagemantSystem.Models.Query

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_PupularLayout.cshtml";
}

<h2>Delete</h2>

<h3>آیا مایل به حذف این کوئری هستید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.queryCommand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.queryCommand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
