@model SupportManagemantSystem.Models.Duty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PupularLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Duty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requiredTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requiredTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piority.piorityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piority.piorityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dutyID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
