@model IEnumerable<SupportManagemantSystem.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PupularLayout.cshtml";
}

<h2>شرکت ها</h2>

<p>
    @Html.ActionLink("جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.CompanyID }) |
            @Html.ActionLink("مشاهده", "Details", new { id=item.CompanyID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.CompanyID })
        </td>
    </tr>
}

</table>
