
@model  IEnumerable<SupportManagemantSystem.Models.ProjectCompanyWorkSheet>

@{
    int i = 1;
    int row = 1;
}
<table class="table">
    <tr>
        <th rowspan="2">ردیف</th>
        <th rowspan="2">
            پروژه
        </th>
        <th rowspan="2">
            جمع ساعات
        </th>
        <th colspan="2">
            جزئیات
        </th>
    </tr>
    <tr>
        <th>
            شرکت
        </th>
        <th>
            زمان صرف شده
        </th>
    </tr>
    @{

    }
    @foreach (var item in Model)
    {
        row = item.CompanyNames.Count();
        <tr>
            <td rowspan="@row">@(i++)</td>
            <td rowspan="@(row)">
                @item.ProjectName
            </td>
            <td rowspan="@(row)">
                @item.hours
            </td>
            <td>@item.CompanyNames.First().CompanyName</td>
            <td>@item.CompanyNames.First().hours</td>
        </tr>
        foreach (var item2 in item.CompanyNames.Skip(1))
        {
            <tr>
                <td>@item2.CompanyName</td>
                <td>@item2.hours</td>
            </tr>
        }
    }

</table>